.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 2rem;
}

.grid h2 {
  text-transform: uppercase;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  background-color: #fff;
  color: #0e1217;
  border: 1px solid #fff;
  opacity: 1;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  max-width: 100px;
  text-align: center;
}
